[2016-01-17 16:26] mauricioaniche opened #1 "count constructor invocation in RFC"

[2016-03-08 08:18] mauricioaniche opened #2 "ignore inner classes"
check if it already happens

[2016-12-12 14:36] mauricioaniche opened #3 "check CBO type resolution in real example"
Sometimes JDT is able to resolve the qualified name, sometimes it returns the simple name. My guess is that in our tests, we don't have folders for the packages. See if same thing happens in a real code.

[2017-04-17 20:12] jpantiuchina opened #4 "java.lang.ArrayIndexOutOfBoundsException: 3000"
Hello, I am using your tool for my project. While running it on the repository https://github.com/eclipse/eclipse-collections, commit “617cd8e” I got “Exception in thread "main" java.lang.ArrayIndexOutOfBoundsException: 3000”

[code]
And run ck program for that repository snapshot

[code]

[2017-04-18 07:24] mauricioaniche commented on #4
Hi @jpantiuchina,

Based on the exception, it seems Eclipse JDT is not able to parse some file and crashes.

My tool probably printed out the class which the exception occurred, or at least, the last class analyzed. I guess if you try to analyze this class in separate, it will crash.

Can you come up with a small reproducible version of the bug, so that we can write an unit test and decide what to

[2018-02-16 14:32] acapiluppi opened #5 "test failure"
Failed tests:
  NOCTest.should_detect_children:26 expected:<2> but was:<0>

[2018-02-16 14:34] acapiluppi opened #6 "failed test: 2"
Failed tests:
  NOCTest.should_detect_children:28 expected:<1> but was:<0>

[2018-02-17 08:34] #5 closed

[2018-02-17 08:46] #6 closed

[2018-11-11 19:12] lifeiliu opened #9 "how to cite this project if I am using it in my research?"

[2019-02-05 14:09] mobilemania123 opened #10 "problem with execution"
Exception in thread "main" java.lang.NullPointerExceptionat com.github.mauricioaniche.ck.FileUtils.getAllDirs(FileUtils.java:23)
	at com.github.mauricioaniche.ck.FileUtils.getAllDirs(FileUtils.java:11)
	at com.github.mauricioaniche.ck.CK.calculate(CK.java:52)
	at com.github.mauricioaniche.ck.Runner.main(Runner.java:18)

[2019-04-11 16:56] mauricioaniche commented on #9
Oh, I only saw it now. I have no paper about it, so cite my GitHub link ;)

[2019-04-11 16:56] mauricioaniche commented on #9
Oh, I only saw it now. I have no paper about it, so cite my GitHub link ;)

[2019-04-11 16:57] #4 closed

[2019-04-11 16:57] #1 closed

[2019-04-11 16:57] mauricioaniche commented on #2
Done!

[2019-04-11 16:57] #2 closed

[2019-04-11 16:57] #3 closed

[2019-04-11 16:57] mauricioaniche commented on #10
Saw it only now. Did you fix it?

[2019-04-11 16:58] mauricioaniche opened #11 "Make sure that the class name is correct when we have sub-classes"
The `ClassInfo` class currently gets the name of the class whenever a ClassDeclaration is visited. I'd say we need a lock there to make sure we only get the name of the main class.

[2019-04-11 18:53] lifeiliu commented on #9
Thank you!

[2019-04-11 18:53] #9 closed

[2019-05-06 23:25] evertonrenne commented on #9
lifeiliu, did you publish a paper with ck tool?

[2019-06-01 14:33] samuelgrigolato opened #13 "Java language support table/matrix"
I was not able to find a Java version support table for your library, does it exist somewhere? If not, maybe it would be nice to have such information in your `README.md`.

[2019-06-03 20:18] mauricioaniche commented on #13
This is indeed not clear in the README.

I had to re-visit the source code. It uses the JLS8 and JavaCore 1.8 as configurations for the JDT. See
https://github.com/mauricioaniche/ck/blob/master/src/main/java/com/github/mauricioaniche/ck/CK.java#L68 and L74.

A good PR would be to update this!
- Change Maven POM to download the most recent version of JDT
- Change these two lines to the most recent

[2019-06-25 15:21] ayaankazerouni opened #17 "Method identifiers have commas, throwing off CSV parser"
I've been playing with this a little bit this week. In the `method.csv` that is output, the method identifiers look something like this:

`getValue/3[int[],int[],String]`, which I guess maps to `name/#params[param1,param2,param3]`. This is good because, along with the `class` attribute, this gives you a unique identifier for the method.

However, the commas inside the square brackets are likely to

[2019-06-25 15:26] mauricioaniche commented on #17
Thanks for finding this bug! I always plug this CK tool with other Java tools, so that at the end, I produce my own CSV; maybe that's why I never faced this problem!

If you want to use an external library to generate a (always valid) CSV, I'm fine with one more dependency.

[2019-07-01 14:42] #17 closed

[2019-07-03 21:25] eriicf opened #19 "Problem running"
When try to use standalone version with command:
[code]
The program returns the following message:
[code]

[2019-07-05 09:46] mauricioaniche commented on #19
Hmm, the jar I generated might not contain the log4j config file.

My suggestion is for you to just add one manually and point it in the classpath.

[2019-07-05 09:47] #19 closed

[2019-10-09 12:13] brunomateus opened #24 "Counting default fields"
Investigating the output of one experiment I found one weird behavior.
A class that has 36 fields, but with 0 public, private, protected and default fields.
I debugged and I found that all the fields were default, but the condition isDefault failed for all of them.

I'm not an expert in JDT, so I don't know how to fix. I also added a new test case to ensure that the number of fields is equal to th

[2019-10-14 11:21] #24 closed

[2019-10-14 11:22] mauricioaniche commented on #24
Hi, @brunomateus, this was indeed a bug!

I just fixed it. Please, use the version that is in the master of this repo. I should release it to Maven soon.

[2019-10-14 12:16] mauricioaniche commented on #24
ck-0.3.2 released

[2019-10-15 09:06] brunomateus commented on #24
Thank you. I'll check it out.

[2019-11-03 18:51] mauricioaniche commented on #11
Done with PR #26!

[2019-11-03 18:51] #11 closed

[2019-11-03 18:52] #13 closed

[2019-11-03 18:52] mauricioaniche commented on #10
I'll close this issue. If that happens again, let me know!

[2019-11-03 18:52] #10 closed

[2019-11-04 14:38] mauricioaniche opened #27 "Pass JARs as context to JDT"
As an optional parameter, the user might decide to use the jars in the directory of the project as a source for JDT to do better binding resolving.

Suggestion: pass a boolean. If true, CK scans the directory of the project, and feeds all JAR files to JDT.

[2019-11-06 14:36] mauricioaniche opened #28 "Exceptions a method throws"
We can add information related to exceptions:
- How many exception are thrown
- How many checked exceptions are thrown

[2019-11-06 14:51] mauricioaniche opened #29 "Metrics related to Annotations"
- Number of defined annotations in an element

[2019-11-25 08:10] M12Shehab opened #30 "Cannot access CK bad class file"
Hi all

Firstly, many thanks for this powerful tool that helps us in our researches.
I tried to add Gradle dependency to my Java implementation to use this library. I got this issue when I tried to build the project.

I tried many solutions and I gave up. Can you please help me to solve it?

I used intellij IDM, Java 1.8 and javac 1.8.0_201.

Thanks,

**cannot access CK bad class file: C:\Users\GI

[2019-11-25 13:58] mauricioaniche commented on #30
Hi, @M12Shehab. You need to use Java 11 to compile CK. I'm really thinking of back porting it, as I have other people who only have access to Java 8. I'll give it a try and post some instructions soon.

[2019-11-25 15:36] mauricioaniche commented on #30
Done, @M12Shehab! Use CK version 0.4.4 that I just deployed on Maven. This one should be compatible with JDK 8.

[2019-11-25 21:14] M12Shehab commented on #30
Hi @mauricioaniche

Thanks for your response. I tried to build it separately and it works perfectly.

I found the solution and I think it will help others.

On the right corner of your in IntelliJ IDM, click edit config and change the JRE to 13 or higher Java version than Java 8
![Untitled](https://user-images.githubusercontent.com/18244361/69578405-6ca19680-0f9e-11ea-8fe2-8edb99dda6e9.png)

Thank

[2019-11-25 21:14] #30 closed

[2019-12-06 14:09] aaghamohammadi opened #31 "WMC for conditional statements"
Hello,

I think there is a problem in calculating the WMC metric based on cyclomatic complexity.
For example, consider the following methods:

[code]
All these three methods do the same thing. However, the WMC complexities for m1,m2, and m3 are 3,2, and 2 respectively. In fact, the following inline conditional statement
[code]
does not increase CC complexity at all. Furthermore, when a condition b

[2020-02-12 13:11] jeandersonbc opened #33 "Unique word count might be failing in static initializer methods"
Here: https://github.com/mauricioaniche/ck/blob/master/src/main/java/com/github/mauricioaniche/ck/metric/MethodLevelWordCounter.java

Need to handle static initializer as well

[2020-02-12 14:20] mauricioaniche commented on #31
Hi, @aaghamohammadi! Sorry for the slow reply. For some reason, I never got an email about your issue.

You have definitely a good point. For now, the WMC calculation in the tool is basically "a count" of specific instructions, e.g., && and || in ifs, etc. Apparently, it's not working well for inline instructions. I'll work on that!

Keep you posted!

[2020-02-12 14:38] aaghamohammadi commented on #31
Dear @mauricioaniche,

Thank you for your reply. I have another issue with Cyclomatic Complexity. It ignores nesting complexity. For example, When developers apply a popular refactoring method named "Replace Nested Conditional with Gaurd Clauses" ([link](https://refactoring.com/catalog/replaceNestedConditionalWithGuardClauses.html)), the structure of the source code really improves. However, the C

[2020-02-12 14:44] mauricioaniche opened #34 "Unique word counts the words from subclasses too"
If a class contains a subclass, the number of unique words include the number of words in the subclasses too. That's not a wanted behaviour.

See test `WordCountsTest#subclasses`. The test is already there.

[2020-02-12 14:45] mauricioaniche commented on #33
Should be fixed now.

[2020-02-12 14:45] #33 closed

[2020-02-12 14:48] mauricioaniche commented on #27
This was implemented already: https://github.com/mauricioaniche/ck/commit/930f339a475c19104d459f712d74faee095bc8ac

[2020-02-12 14:48] #27 closed

[2020-02-12 14:50] mauricioaniche commented on #31
@aaghamohammadi Can you open another issue for this second suggestion (a concrete example like the one you provided here is very useful!)? So that we don't mix the discussions.

[2020-02-12 15:20] aaghamohammadi opened #35 "Nesting Problem of Cyclomatic Complexity"
By definition, the CC metric does not take into account the nesting levels of the method. For example, consider the following Python source code:

[code]
By refactoring this code, we get:
[code]

As you can see, By applying a popular technique named _Replace Nested Conditional with Guard Clauses_, the source code structure would improve a lot. However, the CC metric does not change (by definition)

[2020-02-12 15:20] aaghamohammadi commented on #31
@mauricioaniche Done.

[2020-02-12 18:08] mauricioaniche commented on #31
Still working on it. To differentiate between `m1()` and `m2()`, we need some fancier semantic analysis, so that it understands that they are similar in terms of complexity. Maybe a simple heuristic can be that boolean variables that are declared in the method body are ignored by the visitor, when we visit the `If` and we measure its complexity. I have to estimate the effort here, and whether it i

[2020-02-12 18:10] mauricioaniche commented on #35
I will not classify this as a bug, as I think this is actually a possible new metric to CK!

Would you be willing to implement it yourself? I can help you by giving you tips and feedback in a PR!

[2020-02-12 21:49] mauricioaniche commented on #34
Done! See https://github.com/mauricioaniche/ck/commit/888322c8aeded162d0e0b574ff3114efb4819898 and https://github.com/mauricioaniche/ck/commit/a0af008c4220d045775f17fe81176b43b253c7a3

[2020-02-12 21:49] #34 closed

[2020-02-12 21:52] mauricioaniche commented on #31
Changing the label here, as this is not a bug anymore, but an enhancement.

[2020-02-13 03:15] aaghamohammadi commented on #35
@mauricioaniche
I have tried this before but I failed. I don't know how can I access the depth of a method. The new metric is computed as follows:
[code]
where d(m) denotes the depth of the method m. For example, consider the following code:

[code]
The depth of the method (d(m)) is 3. Indeed, if the depth of a method is implemented as a new metric, the modified WMC will be automatically computed.

[2020-02-13 03:27] aaghamohammadi commented on #31
@mauricioaniche
Maybe you won't need a semantic analysis. If you have access to the String representation of a statement s, then all you need is regex analysis. I think the most elegant implementation would be the Observer pattern. When a statement s, contains a logical operand, the subscriber should be notified to capture its clauses.

[2020-02-13 03:37] aaghamohammadi commented on #31
Oh, I see what you mean. Sorry for my mistake, you definitely need semantic analysis.

[2020-02-13 08:02] mauricioaniche commented on #35
Is `d(m)` the max depth that can be found in a method? If so, we have the `MaxNumberOfNestedBlocks` as a metric already: https://github.com/mauricioaniche/ck/blob/master/src/main/java/com/github/mauricioaniche/ck/metric/NumberOfMaxNestedBlock.java

Is that it?

[2020-02-13 08:16] aaghamohammadi commented on #35
Not exactly. For any nested blocks, the max depth of that block added to ```d(m)``` .  Consider the following code:

[code]
The max depth is 2. However, the ```d(m)``` is 3 (see statement 3,7,10).

[2020-02-13 09:02] aaghamohammadi commented on #35
@mauricioaniche
In fact, the aforementioned paper says:
"Identify the second, the third, the fourth, and subsequent levels of nesting constructs and assign each occurrence with one unit of complexity. "

[2020-02-13 09:38] mauricioaniche commented on #31
I'll keep this one open... Maybe we'll find a simple way to do this semantic check.

[2020-02-13 09:40] mauricioaniche commented on #35
I did not read the paper yet, so, sorry for my questions!

But isn't then `d(m)` = max_nested_blocks + 1?

[2020-02-13 09:51] aaghamohammadi commented on #35
No. Although most of the cases are true, there are some situations that ```d(m) != max_nested_blocks + 1```.
When a method consists of two independent nesting blocks, that equation does not hold anymore.

[2020-02-13 09:57] mauricioaniche opened #36 "More and more tests!"
CK is a simple tool; yet, people's code are complicated!! Although our test suite has been growing, there are always exceptional cases that might lead the tool to bring strange results.

If you are looking for a way to start contributing to this project, I suggest you to write tests!! Our test suite is full of examples! In practice, all you need to do is:

- Create a "fake" class with the property

[2020-02-13 12:22] mauricioaniche commented on #35
From the paper, it seems that, all we need to do in the WMC implementation is to give a weight of 1, if the `nesting(node) = 1`, or a weight of 2, if the node is `nesting(node)>1`.

(There's also the corner case of a block returning early, then, next ones in that nested block should be considered 1 again)

Does that make sense to you?

[2020-02-13 12:25] aaghamohammadi commented on #35
Yes. This is exactly what I understood from the paper.

[2020-02-13 15:00] mauricioaniche opened #37 "Add all endVisit() callbacks in CKVisitor"
CKVisitor is the one that JDT invokes whenever it visits a Node. CKVisitor then calls the visits inside each of the metrics. So, CKVisitor should propagate all calls to `visitX()` or `endVisitX()`, in the metrics.

It's a boring copy-and-paste task, but we need to add all of them for the `endVisits()` as we still miss some. I have been adding them on-demand (i.e., whenever a metric needs it, I add

[2020-02-14 08:27] mauricioaniche opened #38 "Rename 'subclass' to 'innerclass'"
What CK actually calculates in the subclass is the number of inner classes a class has.

We should:
- Rename the metric class
- Rename the tests
- Rename the column in the output

This introduces breaking changes, but they are for the good.

[2020-02-14 09:56] jeandersonbc commented on #38
I'm working on it

[2020-02-14 15:13] #38 closed

[2020-02-14 15:39] mauricioaniche opened #40 "CK returns -1 to some metrics when class does not contain method"
Suppose a class that only contains fields. CK returns -1 to some metrics (e.g., maxNestedBlocks). It should be zero.

[2020-02-14 20:24] linknasubi commented on #37
I've made the pull request to this problem

[2020-02-15 12:53] mauricioaniche commented on #36
The `RFC` metric is one that deserves a lot more tests!

[2020-02-16 11:48] aaghamohammadi opened #42 "Nested Blocks return 0 for enhanced forEach populated with lambda function"
Hi @mauricioaniche
I am writing tests for ```NumberOfMaxNestedBlock.java``` . I have come accross the following issue:

[code]

I expect that the max depth of ```m1()``` equals one. However, the ```getMaxNestedBlocks()``` returns zero.  Indeed, It happens when the enhanced version of ```For``` along with a lambda function is employed.

[2020-02-16 12:40] aaghamohammadi opened #43 "Incorrect CBO for Generic Classes"
Suppose we have a generic class ```Box```. The ```CBO``` returns 2 for the following class:
[code]
However, I think it should return one.

[2020-02-16 14:10] mauricioaniche commented on #43
CK indeed returns 1 here. See the test I just created for this: https://github.com/mauricioaniche/ck/commit/358b521283ba1a0424b196a323779ee34ef83969

If that makes sense to you, I'll close the issue.

[2020-02-16 14:12] mauricioaniche commented on #42
Hmm, this one is tricky. Maybe whenever there's a lambda expression, we do a +1 in the current nested block? Would that make sense to all the lambdas in the source code?

[2020-02-16 14:21] aaghamohammadi commented on #43
This is interesting! When you only create ```Coupling6```, the returned value is 2. However, when you create ```Coupling6``` plus ```Box``` the returned value is 1.

[2020-02-16 14:25] aaghamohammadi commented on #42
I don't think so. How about this code?

[code]
I think the nested level of this code is one (not 2).

[2020-02-16 14:51] mauricioaniche commented on #43
Yeah, that's what happens when you are creating 'fake' examples. If there are things that can't really be resolved, I try to approximate.

There was a bug in inexistent generic classes. Hopefully, I just fixed it: https://github.com/mauricioaniche/ck/commit/a69e34f84308043b2040fd7a59f400565683fe88

[2020-02-16 14:51] #43 closed

[2020-02-16 14:58] mauricioaniche commented on #40
MaxNestedBlocks and Inner Classes are fixed.

[2020-02-16 14:58] #40 closed

[2020-02-16 15:03] mauricioaniche commented on #42
Yeah, that would be one! With the implementation I have in mind, whenever there's a lambda declaration, we do a +1, whenever it finishes it do a -1 (that's what happens with the other blocks, e.g., for, while, ...). So, in this case:

[code]

So, max = 1

[2020-02-16 15:13] aaghamohammadi commented on #42
Thank you for your response.
Oh, I see. I think your approach is correct. By the way, I suppose CBO has a problem yet. Consider ```Box<A>```  (the CBO should be 2 not 1).

[2020-02-16 15:29] mauricioaniche commented on #43
Wrote more tests, it seems to work, @aaghamohammadi

https://github.com/mauricioaniche/ck/commit/2b63d1b6250fa04ca8ee1f8e8e5b576b7a704400

[2020-02-16 15:45] aaghamohammadi commented on #43
This is strange. Really strange!

Consider the following code:
[code]
CBO is correct (1,2 ,2).

However, for the following code:
[code]
CBO is incorrect (expected:1,1,2 --- output:1,1,1) .

[2020-02-16 15:53] mauricioaniche commented on #43
Your `Coupling63` example is the same in both snippets. I tried one more combination there, and it works.

Can you write a failing test?

[2020-02-16 16:15] aaghamohammadi commented on #43
Yes. I have written a test that fails. I sent a pull request which includes that test.

[2020-02-25 18:00] jeandersonbc opened #49 "Remove duplicated field (ResultWriter)"
I noticed that `methods.csv` generates `startLine` and `line` with the same values... Looking closer to the source file, I noticed the duplicate call to `method.getStartLine()`.

[2020-03-02 13:10] aaghamohammadi opened #50 "Conflict Between the CBO Implementation and the Definition of Original CK Paper"
Hello,

I find a conflict between your implementation of CBO and the definition of the original CK paper. In the paper, authors say "CBO for a class is a count of the number of other classes to which it is coupled where two classes are coupled if methods declared in one class **use** methods or instance variables **defined** by the other class."

[2020-03-02 13:13] aaghamohammadi opened #51 "Conflict between the implementation of RFC and the Original Paper"
Hello,

I think there is a difference between your implementation of RFC and the original paper. In the paper, authors count the number of unique invocations plus **the set of all methods in the class** .

[2020-03-03 08:38] #49 closed

[2020-03-11 11:08] mauricioaniche commented on #50
Yes. I think that's an outdated definition. To me, if you have a link between class A and class B, there's coupling. That can be realised by, e.g., defining a list of type A, but never invoking A.

But one might want to know the coupling only about methods that are invoked in other classes. I'll rename this issue and leave it for someone who's willing to implement it!

[2020-03-11 11:10] mauricioaniche commented on #51
Yes, same here, I don't get why you would sum the methods in the class.

But that's easy to get if you really want the original RFC definition, as you can sum up RFC + total methods.

(I should make it explicit in the README that my goal was not to implement metrics as they were defined in the very old original paper, but more like a revised and pragmatic implementation of it)

[2020-03-11 11:10] #51 closed

[2020-03-17 16:16] mauricioaniche opened #53 "Support multiple static initializers"
There can be more than one static initialiser in a class. Right now, CK understands both, but gives them the same name: "(initializer)". It should give different names, e.g., (initializer 1), (initializer 2), ...

[2020-03-17 17:29] mauricioaniche commented on #53
Done!

[2020-03-17 17:29] #53 closed

[2020-03-20 10:58] mauricioaniche opened #54 "Better names to anonymous classes"
Take the example of this real-world class: [HectorPolicyManagerImpl](https://raw.githubusercontent.com/memorius/policy-auction/3c4b7f7464b79d22f8163266538c671250396dc3/src/main/java/net/retakethe/policyauction/data/impl/HectorPolicyManagerImpl.java), also in our repo.

The method `getAllPolicies` declares an anonymous class in line 113. CK calls it `net.retakethe.policyauction.data.impl.HectorPoli

[2020-04-24 23:51] maykon-oliveira commented on #36
I have a question,
should be method reference counted in RFC metric?

[code]

For example, that's stream above, there is a method reference, but currently RFC does not include it.

So, the result of RFC metric above is 7, what should be the result 7 or 8?

[2020-04-25 21:30] mauricioaniche commented on #36
We are probably not counting the _Avatar::getId_, but maybe we should! Would you mind fixing it and opening a PR?

[2020-04-25 22:43] maykon-oliveira commented on #36
### Sure!

I opened up a [pull request](https://github.com/mauricioaniche/ck/pull/56)

[2020-05-19 08:37] jan-gerling opened #63 "CK not finding classes"
CK does not find classes if the folder structure is as follows: `ambry/ambry-messageformat/src/main/java/com.github.ambry.messageformat/`.
I noticed this bug during the data-collection where it occurred quite frequently.

### Example Projects
[1](https://github.com/linkedin/ambry/tree/c612f30db3f4c49f2b302417725456c6005f1060/ambry-messageformat/src/main/java/com.github.ambry.messageformat)
[2](htt

[2020-05-19 08:56] jan-gerling commented on #63
I will have a look at this issue.

[2020-05-20 15:59] #63 closed

[2020-05-21 20:26] mauricioaniche opened #65 "Null when `getMethodInvocationsLocal()`"
See class https://github.com/mauricioaniche/ck/blob/master/fixtures/real-world/ByteBufferAsyncWritableChannel.java. It contains a subclass `ChunkData`. If we call `getMethodInvocationsLocal()` to the `ChunkData/2` constructor, it returns null.

I believe that's a bug.

[2020-05-22 08:08] jan-gerling commented on #65
I will have a look at it. You can assign the issue to me.

[2020-05-22 10:17] jan-gerling commented on #65
I was able to reproduce this error and will work on a fix.

[2020-05-22 10:50] jan-gerling commented on #65
**Problem:**
For classes with no visible methods, the local method invocations were not set, because I called it to generate [TCC and LCC](https://github.com/mauricioaniche/ck/blob/12731b1fed7738e52401ee067efef1de3f2a5cc9/src/main/java/com/github/mauricioaniche/ck/metric/TightClassCohesion.java#L115-L131) where these cases can be skipped.

**Solution:**
Generate empty HashSets for all cases.

[2020-05-22 13:29] #65 closed

[2020-06-25 16:08] jeandersonbc opened #69 "maxNestedBlocks should be named maxNestedBlocksQty for consistency"
I just noticed by accident that there is `maxNestedBlocks` for method level while its class counterpart is `maxNestedBlocksQty`.

https://github.com/mauricioaniche/ck/blob/1dd7a4b08efda94a7ebcf861ed2dc613d871bd29/src/main/java/com/github/mauricioaniche/ck/ResultWriter.java#L17-L22

IMO the suffix `Qty` should be added for consistency as the other metrics.

[2020-06-25 17:15] #69 closed

[2020-08-21 20:05] magori opened #73 "New version(0.5.0) not working with maven plugin (delete pitest-maven as dependency )"
The pitest-maven dependency has been added in version 0.5.0 (line 107 in the pom), it's a plugin and not a library.

	<dependency>
          <groupId>org.pitest</groupId>
          <artifactId>pitest-maven</artifactId>
          <version>1.4.11</version>
	</dependency>

I tryed to use the new version 0.6.2 with my maven plugin for CK, but it's not possible to compile anymore, because pitest-maven

[2020-08-28 13:38] mauricioaniche opened #74 "More tests for synchronised stuff"
Let's write more tests to see if CK correctly counts synchronised classes, methods, etc etc.

[2020-09-09 09:40] mauricioaniche commented on #73
That's indeed a problem!

I hope PR #75 will fix it!

[2020-09-25 10:24] magori commented on #73
Yes this PR will fix it, Thank you

[2020-09-25 10:24] #73 closed

[2021-04-09 10:16] slivkaje opened #82 "Error writing the CSV file containing the class metrics"
Hello,

There seems to be an issue with writing the metrics for class results in the file https://github.com/mauricioaniche/ck/blob/master/src/main/java/com/github/mauricioaniche/ck/ResultWriter.java. Some values are shifted. For example, result.getVisibleMethods().size() is written where abstractMethodsQty should be, abstractMethodsQty is written where finalMethodsQty should be and so on. The maj

[2021-04-09 12:15] jeandersonbc commented on #82
Hi @slivkaje, thanks for reporting this issue!

Maybe this is a good time to rethink how the result is written to CSV.
The way [ResultWriter.java](https://github.com/mauricioaniche/ck/blob/master/src/main/java/com/github/mauricioaniche/ck/ResultWriter.java) writes the CSV entry is very error-prone and this type of thing can happen again in the future.

For now, I'm submitting a fix for it.

[2021-04-09 12:55] jeandersonbc commented on #82
See https://github.com/mauricioaniche/ck/pull/83

[2021-04-10 13:51] #82 closed

[2021-04-10 13:52] mauricioaniche commented on #82
Thanks, @slivkaje for noticing the bug, and @jeandersonbc for fixing it. I'll release a new version right away.

[2021-05-14 07:23] lyriccoder opened #85 "Program ends when ASTParser cannot parse Java files"
Sometimes AST cannot be parsed (due to file with syntax error/ new syntax, given by new Java version).
If it is the case, the program crashes and methods.csv is empty:

If I set max partitions to 1, it didn't help. Setting JLS14 didn't help.

[code]

Could you please handle the exception and continue the flow (the bad file will be just ignored and not included into csv)?
And if partitions are set

[2021-05-20 13:58] mauricioaniche opened #86 "JGit dependency"
Do we really need it?

[2021-05-26 12:10] jeandersonbc commented on #86
Feels like *no* to me. Should we review the project dependencies for a cleanup?

[2021-05-26 13:28] mauricioaniche commented on #86
Yes!

I am trying hard to remember why there's JGit here, but I can't find a good answer. Definitely a copy and paste mistake that's costing people some extra jars.

[2021-05-26 13:34] mauricioaniche commented on #85
Hi, @lyriccoder, thanks for the issue! That should be easy to fix.

How are you running CK? Are you using the jar we provide directly, or writing your own Java program that calls the CK API?

[2021-05-26 13:38] mauricioaniche commented on #85
Ah, ok, from the stack trace, I can see you are using our `Runner`, so you are calling it from the command line. Ok!

[2021-06-04 10:23] RiccardoBravin opened #87 "NOC request"
Hi,
I am using your software and i'm finding it very usefull but for it to have actually all ck metrics it should have also NOC and your old version that had it doesn't analyze the inner classes so it's not usable in combo with the newer version. Could you maybe reimplement it in the newer version so that it also does it for inner classes?

[2021-07-05 11:58] #85 closed

[2021-07-05 11:58] mauricioaniche commented on #85
Hi, @lyriccoder, sorry for the slow reply. I pushed some code that should fix this issue!

[2021-07-05 12:10] mauricioaniche commented on #86
JGit is used by an integration test that actually clones an entire repository and runs CK there. The dependency is marked as test, so jars don't go to the final package! I just bumped all the versions of the dependencies; can't see any that's not used now.

[2021-07-05 12:10] #86 closed

[2021-10-23 08:15] alvintanjianjia opened #88 "Standalone Version Build Error"
Hi, there seems to be an error preventing the build from succeeding.  This is the error when running "mvn clean compile package"
![image](https://user-images.githubusercontent.com/28504408/138548522-ba14c019-53bd-4db0-ab92-195a298149d3.png)

Pulling from ck-master. I have tried the same with release tags 0.6.3 and 0.6.4 and ran into the same error.

Thank you.

Regards,
Alvin

[2021-11-21 13:57] #88 closed

[2022-01-08 20:40] Arraying opened #90 "Build of fresh clone fails due to failing test"
I am running `mvn clean package` on HEAD `17b80cb` which fails due to a failing test.

[code]

This happens on both a JDK11 and JDK16 Maven runner. Similarly, if I run the tests through IntelliJ, this is the only test that fails.

[2022-01-08 23:32] mauricioaniche commented on #90
I don't know why Github stopped running the tests ...

Would you mind fixing it, @Arraying? You can bill the hours from our project :)

[2022-01-10 11:41] BrentMeeusen commented on #90
I have the same problem when I tried running `mvn clean compile package`. Interesting fact: when I run all tests, the error @Arraying shared pops up, yet when I only run the `NOCTest` tests, they pass... Hope it helps you!

[2022-01-10 14:39] Arraying commented on #90
Sure, I'll get on it. For now and anyone seeing this, let it be known you can just add `-DskipTests` and it will still compile.

`mvn test` fails for me, `mvn test -Dtest=NOCTest#shouldDetectChildren` passes, and running the test class through IntelliJ passes too. Did you do something different and it worked, @BrentMeeusen?

I have manually inspected the classes and the NOC values seem to be corre

[2022-01-10 15:09] BrentMeeusen commented on #90
@Arraying I ran all tests in my terminal to build the project, that failed because of the `NOCTest`. Then I ran all tests in IntelliJ, with the same result. Then I ran just the tests in `NOCTest`, which passed.

Thanks for the `-DskipTests` flag, that works, after I fixed unknown characters in a Javadoc comment, `LCOMNormalized.java:88`. It has opening and closing quotes, instead of the normal dou

[2022-01-10 15:17] Arraying commented on #90
What OS are you on? It works fine for me, perhaps try specifying `-Dfile.encoding=UTF-8` (this is what all my Maven tasks use through IntelliJ).

[2022-01-10 16:14] BrentMeeusen commented on #90
I fixed it by replacing the values so I don't know whether that additional flag works, but I'm on Windows 10 and with the quotes that are in the repo it doesn't work for me.

[2022-01-11 00:32] mauricioaniche commented on #90
So, this was caused by a strange char? Can you please submit a PR fixing it, @BrentMeeusen ?

[2022-01-11 00:37] Arraying commented on #90
No, the build still fails due to a failing test. That is a separate issue (could not reproduce it myself). Will try to isolate and fix the test.

[2022-01-11 08:41] BrentMeeusen commented on #90
As @Arraying pointed out, the quotation marks not being recognised as a valid character is a separate issue. I will try to make a PR for it later today.

[2022-01-11 11:49] AntoniosBarotsis commented on #90
I was about to make an issue about this, the unspecified character encoding made my build crash with `unmappable character (0x9D) for encoding windows-1252`. Adding the following to the `pom.xml` file fixed it for me:

[code]

Although the NOCTest still fails. I am aware that that is essentially the same as specifying `-Dfile.encoding=UTF-8` but it's more convenient :)

[2022-01-11 12:48] AntoniosBarotsis commented on #90
After a little bit of playing around it seems to me that the issue is this line being run multiple times

[code]

I changed the NOCTest setUp to the following

[code]

and got the same error `NOCTest.shouldDetectChildren:20 expected: <1> but was: <2>`.

The only other class with that line is `DITTest`.

I am not entirely sure why the reassignment breaks it but the issue should be in those 2 classe

[2022-01-11 18:33] Arraying opened #92 "Invalid environment settings"
Sometimes, running CK will cause:
[code]

For the cause of this, see [this reply](https://github.com/mauricioaniche/ck/issues/92#issuecomment-1010321127)

<details>
<summary>Original Issue, hidden by default</summary>

Sometimes, running CK will cause:
[code]

This occurs arbitrarily, it was working on my machine, now it does not. A groupmate tried the exact same script on his laptop, where it wor

[2022-01-11 18:45] Arraying commented on #92
I've run the method in question in isolation and it turns out it breaks due to the `.idea` folder. This information was contained in `pendingErrors`. Indeed, if I delete the folder everything runs as expected. Still not sure how this is caused

[2022-01-11 20:09] Arraying commented on #92
It seems that this is because I use my project root directory as the `path` of CK, so it takes into account `.git` and `.idea` along with all the other files (I have a clean Gradle build folder at the moment, I do not want to imagine what it is like if it is not cleaned).

The specific error is:
[code]
It seems like JDT performs some sort of truncation internally. I have no idea why exactly this f

[2022-01-12 12:38] tbloemen opened #93 "Option to ignore Test classes"
Hi,

Sometimes it is only necessary to refactor in the main part of your application, and the tests don't necessarily need to be refactored. It would be nice if there was an option to ignore test classes, and just produce the metrics for the main code. Is this possible?

[2022-01-12 14:08] Arraying commented on #93
This is to my knowledge not possible at the moment. However, as a workaround, you could write a small script to prepare the files and run ck. An example in Bash:
[code]

[2022-01-12 14:52] tbloemen commented on #93
Helpful, I'll do that in the meantime!

[2022-01-12 20:50] mauricioaniche commented on #93
Indeed, @tbloemen, there's no way to do that with ck. And, to be honest, I don't think the tool should offer this feature!

So, you can either filter them out before or after running ck!

[2022-01-12 20:50] #93 closed

[2022-01-14 00:31] mauricioaniche commented on #90
Hmm maybe the DIT metric makes use of some static fields to store information? DIT was implemented by someone via PR and I don't know it by heart. I'll try to find some time in my agenda to debug it!

PS: we had CI running our tests before. I really don't know why it stopped...

[2022-01-14 00:35] mauricioaniche commented on #92
Errors happening inside the JDT code are usually due to some weird code that we throw at it.

We should indeed ignore hidden directories. We can do that in the Utils class, as you suggested. A flag to allow users to exclude other directories can also be a good feature.

Would you mind implementing it ?

[2022-01-14 00:36] mauricioaniche commented on #90
Skimming on my cellphone: I see that the `NOCExtras` class has a static attribute ...

[2022-01-16 10:24] AntoniosBarotsis commented on #90
I looked over this out of curiosity and it seems rather difficult to fix but I may say that because I am not familiar with the codebase. I tried making a third class to bind a `NOC` and a `CKClassResult` Instance together with a now non static `NOCExtras` but upon looking at how everything gets instantiated in the code, I think that would not work.

This to me looks like will only be an issue in t

[2022-01-16 11:52] mauricioaniche commented on #90
I’d say let’s go for the easy fix for now! Can you do it, Tony? :)

On Sun, 16 Jan 2022 at 07:25, Tony ***@***.***> wrote:

--
--
Maurício Aniche
Delft University of Technology
http://www.mauricioaniche.com

[2022-01-16 14:00] AntoniosBarotsis commented on #90
Will do since I made it work locally. I'm busy at the moment but I'll send a merge request later today :)

[2022-01-16 15:42] #90 closed

[2022-01-16 15:48] AntoniosBarotsis opened #96 "Travis CI Build Failure"
[This](https://app.travis-ci.com/github/AntoniosBarotsis/ck/jobs/555771476) Travis CI fails with the following error:

[code]

Raw logs can be found [here](https://api.travis-ci.com/v3/job/555771476/log.txt).

This fails due to the project using Java 8, switching the version to 11 or above fixes the issue. I was personally using a higher version and did not notice the build failure.

I can't find

[2022-01-16 16:05] mauricioaniche commented on #96
It was about time to migrate to GitHub actions!

On Sun, 16 Jan 2022 at 12:48, Tony ***@***.***> wrote:

--
--
Maurício Aniche
Delft University of Technology
http://www.mauricioaniche.com

[2022-01-16 16:15] AntoniosBarotsis commented on #96
Actually upon further inspection [this](https://github.com/mauricioaniche/ck/blob/master/pom.xml#L133-L134) might be the issue, I'll verify when I get home. Alternatively we could up the Java version to 11

[2022-01-16 16:38] AntoniosBarotsis commented on #96
Ok that does not seem to solve it for me so perhaps we should upgrade to Jdk 11 then. Changing [this](https://github.com/mauricioaniche/ck/blob/ea387d77a76c2564fbf3087456bad44b6a923a9c/.travis.yml#L3) line to `oraclejdk11` *should* fix the pipeline.

[2022-01-29 19:41] Arraying commented on #92
I will get to this the coming days!

[2022-02-12 06:25] EhsanMashhadi opened #98 "How to get methods of inner classes in a class"
Hi,

I am using this library for research and I need to find the method-level metrics, so I am traversing the `CKClassResult` by using `getMethods` function to find the metric values of desired methods, but I have found that this method does not return methods that are inside of an inner class. Is there any way to get those methods?

Thanks

[2022-02-12 13:40] mauricioaniche commented on #98
The tool supports inner classes. See this test: https://github.com/mauricioaniche/ck/blob/master/src/test/java/com/github/mauricioaniche/ck/MetricsPerClassesAndInnerClassesTest.java

Let me know if it worked for you.

[2022-02-23 16:50] EhsanMashhadi commented on #98
Thanks for the answer. I tried to get the methods of the inner class by filtering the file name instead of the class name and it works.

[2022-02-23 16:50] #98 closed

[2022-06-01 10:05] escapar opened #100 "Class-level TCC and LCC metrics output 0 or -1 if variables and fields metrics are disabled"
This issue is easy to reproduce using the codebase of the current snapshot, so I don't attach any code or screenshot.
I believe it is a bug, since the toggle for variables and field metrics should not affect the results for class-level metrics.
Will make PRs if I can fix it.

[2022-06-03 10:01] mauricioaniche commented on #100
Thanks for reporting it! If you can submit a failing test, that'd be awesome!

[2022-06-03 10:01] mauricioaniche commented on #92
Merged already, let's close this issue!

[2022-06-03 10:01] #92 closed

[2022-06-05 11:52] escapar commented on #100
I wrote a test but surprisingly TCC and LCC were always 0,-1,or NaN, even if I simulate user's input (programmatically calling directly Runner.main).  This is not correct but still slightly different from the case in the description. To clarify I run tests on the hibernate-orm project.

However, if I add breakpoints and debug from IDE and execute from Runner using customized arguments, things went